a{
	color: #520;
	background: transparent;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
}
a:after{
  content: " [" attr(href) "] ";
  font-size: 90%;
}
abbr{
	border: none;
}
article,
aside,
footer,
header,
hgroup,
nav,
section{
	display: block;
}
body{
	background-color: #fff;
	color: #000;
	font: 11px/130% Tahoma, Helvetica, sans-serif;
	letter-spacing: 0;
	margin: 0 5%;
}
em{
	font-style: italic;
}
h1{	font-size: 2em;		}
h2{	font-size: 1.8em;	}
h3{	font-size: 1.6em;	}
h4{	font-size: 1.4em;	}
h5{	font-size: 1.2em;	}
h6{	font-size: 1em;		}
strong{
	font-weight: bold;
}
#menu,
#footer{
	display: none;
}